/* Reset */
@charset "utf-8"; 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;
font-size: 100%;
outline: 0 none;
vertical-align: baseline;
margin: 0;
padding: 0;}
table{border-collapse:collapse;border-spacing:0;}
address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}  a, a:hover,button,button:hover, .anime, .small_btn, .btn:hover .small_btn   {-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;-webkit-transition:all 200ms linear;transition:all 200ms linear;}  button{cursor:pointer;}  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;} 
*/ a,
a:hover,
button,
button:hover,
.anime {
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
    list-style: none;
}
/* Reset_end*/

/*Flex Framework_начало*/

.main_flex {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.main_flex__nowrap {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.main_flex_column {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

.main_flex_column_nw {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.flex__auto {
  flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
}

.flex__jcontent_between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex__jcontent_start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.flex__jcontent_end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.flex__jcontent_center {
  justify-content: center;
  -webkit-justify-content: center;
}

.flex__jcontent_around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.flex__align-items_start {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.flex__align-items_end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex__align-items_baseline {
  align-items: baseline;
  -webkit-align-items: baseline;
}

.flex__align-items_stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

.flex__align-items_center {
  align-items: center;
  -webkit-align-items: center;
}

.flex__align-content_flex-start {
  align-content: flex-start;
  -webkit-align-content: flex-start;
}

.flex__align-content_flex-end {
  align-content: flex-end;
  -webkit-align-content: flex-end;
}

.flex__align-content_space-between {
  align-content: space-between;
  -webkit-align-content: space-between;
}

.flex__align-content_center {
  align-content: center;
  -webkit-align-content: center;
}

.flex__align-content_space-around {
  align-content: space-around;
  -webkit-align-content: space-around;
}

.flex__align-content_stretch {
  align-content: stretch;
  -webkit-align-content: stretch;
}

.flex__flex-grow_01 {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.flex__flex-grow_02 {
  flex-grow: 2;
  -webkit-flex-grow: 2;
}

.flex__flex-grow_03 {
  flex-grow: 3;
  -webkit-flex-grow: 3;
}

.flex__flex-grow_04 {
  flex-grow: 4;
  -webkit-flex-grow: 4;
}
/* @font-face {
  font-family: "Avant Garde CE - Demi";
  src: url("ITC\ Avant\ Garde\ Gothic\ Demi.ttf") format("truetype");
   } */
   /* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap'); */

   @font-face {
    font-family: "AleksandraCRegular";
    src: url("../fonts/AleksandraCRegular/AleksandraCRegular.eot");
    src: url("../fonts/AleksandraCRegular/AleksandraCRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AleksandraCRegular/AleksandraCRegular.woff") format("woff"),
    url("../fonts/AleksandraCRegular/AleksandraCRegular.ttf") format("truetype");
    /* font-style: normal;
    font-weight: normal; */
}
@font-face {
  font-family: "Blackberry";
  src: url("../fonts/blackberry-normal_version_02.otf") format("opentype");
}
@font-face {
  font-family: "Karton";
  src: url("../fonts/Karton.otf") format("opentype");
}
/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); */


html {
  scroll-behavior: smooth;
}